<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @projects.each do |project| %>
      <div id="hero-unit">
        <fieldset>
          <legend>
            <%= link_to project.name, project %>
            <div class="pull-right">
              <h6><%= link_to project.url.html_safe, project.url, target: "_blank" %></h6>
            </div>
          </legend>
          <ul class="media-list">
            <li class="media well">
              <% if !project.image.nil? %>
              <%= link_to project, class: "pull-left" do %>
                <%= image_tag image_path(project.image_id), class: "media-object, thumbnail", width: 64, height:64 %>
              <% end %>
              <% end %>
              <div class="media-body">
                <%= truncate(project.blurb.html_safe, :length => 80)%>
              </div>
            </li>
          </ul>
          <% if signed_in? %>
          <div class="pull-right well">
            <%= link_to 'Edit', edit_project_path(project) %> |
            <%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %>
          </div>
          <% end %>
        </fieldset>
        <hr />
      </div>
    <% end %>
  </tbody>
</table>

<br>
