<div id="hero-unit">
  <fieldset>
    <legend>
      <%= @project.name %>
      <% if !@project.url.nil? %>
      <div class="pull-right">
        <h6>
          <strong>From:</strong>
          <em>
          <% if @project.start_date.nil? %>
            -
          <% else %>
            <%= @project.start_date.to_formatted_s(:month_and_year) %>
          <% end %>
          </em>
          to
          <em>
          <% if @project.end_date.nil? %>
            Present
          <% else %>
            <%= @project.end_date.to_formatted_s(:month_and_year) %>
          <% end %>
          </em>
        </h6>
      </div>
      <% end %>
    </legend>
    <ul class="media-list">
      <li class="media well">
        <% if !@project.image.nil? %>
        <div class="pull-left">
          <%= image_tag image_path(@project.image_id), class: "media-object, thumbnail", width: 200, height:200 %>
        </div>
        <% end %>

        <% if !@project.url.nil? %>
        <p class="text-left">
          <strong>Project Source:</strong> <%= link_to @project.url.to_s, @project.url.to_s, target: "_blank" %>
        </p>
        <% end %>

        <div class="media-body">
          <%= @project.content.html_safe %>
        </div>
      </li>
    </ul>
    <% if signed_in? %>
    <div class="pull-right well">
      <%= link_to 'Edit', edit_project_path(@project) %> |
      <%= link_to 'Destroy', @project, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
    <% end %>
  </fieldset>
  <hr />
</div>